[2014-04-08 15:18] marcodelfrari opened #1 "Transactions & callbacks"
Hi,
I have notice that transactions are not supported. Do you think it might be implemented in future versions?
Several frameworks use callbacks in transactions, but in your plugin at the moment this feature is not supported.
We understand that the problem is related to the previous question, but this feature would be useful to respect WebSql specification and therefore support frameworks like Sen

[2014-04-22 21:59] EionRobb opened #2 "Nix code from another project (please)"
We have an implementation written mostly in JS for WebSQL that supports some of the features that your implementation is currently missing.  Feel free to use as much of that as you want in your plugin.  We'd love to see some official, more-native support for WebSQL in Win8 Cordova :)

https://github.com/EionRobb/phonegap-win8-sqlite

[2014-05-08 11:15] vinaybr opened #3 "installation issues"
Hi,

I have installed the plugin to the project, it has added sqlite.cs and websql.cs files. sqlite.cs has some sqlite references, where do i find these assemblies?

the assembly in the src folder under wp8 folder when opened in reflector says -
assembly: TargetFramework("Silverlight,Version=v4.0,Profile=WindowsPhone71", FrameworkDisplayName = "Silverlight 4.0 Windows Phone 7.1 Profile")

 and thr

[2014-07-02 13:21] prakashsatyani opened #5 "Open Database not Working"
I have made a project of Windows8 Metro app with cordova 3.4.0. This plugin is not working in my project and giving an error of "Unable to create Database".

I have included all the libraries. I don't understand where the problem is. Can you please help me out on this or is there anyone whose facing similar problems.

[2014-07-03 10:08] #5 closed, assigned to nobody

[2014-07-23 12:26] mobidev111 opened #7 "Support for insertId properties of sqlResultSet"
The insertId property is crucial for obtaining the ID of a newly added record within the callback.

Can you implement this? What are the obstacles?

[2014-07-31 13:42] mmcomp opened #8 "Android 4.3 broken job"
Hi, when i use my app in android 4.4 no problem at all but the same app in the Android 4.3 it often not working with global error message "the statment callback raised an exception or statment error callback did not return false" ... but some times it works!!?????

[2014-08-29 19:29] 4gus71n opened #9 "openDatabase callback doesnt work"
The callback of the openDatabase function, the same one that is in the example, doesnt work on my deploy of windows phone. The only way that I have to know when the database is open is this one:

...
 var dbSize = 5 \* 1024 \* 1024; // 5MB
        // open database
        app.db = openDatabase("Todo", "", "Todo manager", dbSize, function() {

[code]

...

No exception nor error is throw. I did the

[2014-09-08 23:41] AdonousTech opened #10 "No Support for Storing and Retrieving JSON blobs in WP 8"
Hi - In an effort to avoid storing and retrieving simple text strings, I implemented some basic code to 'stringify' arrays of JSON objects and store the entire string. When retrieving the JSON object I simply grab the string, parse the response, and deserialize the JSON into objects.

This all works great in Android and Windows 8, but does not work in Windows Phone 8 (the data does not persist whe

[2014-10-28 12:55] mobidev111 opened #11 "Each openDatabase call creates a new database - deviates from other platforms"
In version 0.0.6 each openDatabase call creates a new database and thus clears out the data for subsequent calls.

This behaviour deviates from other platforms (iOS Safari, Android Chrome), where multiple openDatabase calls just open the database respectively.

[2014-10-28 17:57] #10 closed, assigned to nobody

[2014-10-28 17:58] #8 closed, assigned to nobody

[2014-10-28 17:59] #7 closed, assigned to nobody

[2014-10-29 20:18] #9 closed, assigned to nobody

[2014-10-29 20:19] #1 closed, assigned to nobody

[2014-10-30 21:18] MetaMemoryT opened #12 "Does this plugin support pre-populated databases?"
I think this should be advertised in the Readme.md if it does.

[2014-11-03 02:19] MetaMemoryT opened #13 "db object replaced as a string"
in a variable where you expect a reference to the db object, their is only a reference to a string which is the full path of the database.

I think this was to do with the order of my async operations.

error thrown on:

SqlTransaction.prototype.executeSql [SqlTransaction.js] Line 105    Script

values the error is thrown with:
"Error occured while executing sql: " + me.sql + '. Error: ' + lastErr

[2014-11-04 09:28] remk opened #14 "Poor insert performance"
We use this plugin on windows phone 8.1 (js project, non silverlight). The insert performance are poor (more than 10 times slower than on android (using native websql ) and ios ( using brodysoft plugin )).
Our database consists of a key/value store where the value is a Json blob.
It takes 40 second to save 700 record on a nokia 925. Grouping them by transaction of 100 record.
By transaction of 10

[2014-11-04 19:43] #13 closed, assigned to nobody

[2014-11-06 19:09] #3 closed, assigned to nobody

[2014-11-06 19:10] #2 closed, assigned to nobody

[2014-11-07 09:54] #11 closed, assigned to nobody

[2014-11-07 10:28] #12 closed, assigned to nobody

[2014-11-28 00:52] dilhan2013 opened #15 "Sql COUNT is notworking in Subqueries"
COUNT is not working properly if it is inside a Sub query and the sub query uses outer table column to filter data

select (select count(*) from Cars where Cars.TypeID = CarTypes.TypeID) AS CarTypeCount
from CarTypes

As a temporary solution you can use   IFNULL(SUM(1),0) AS MY_COUNT   instead of COUNT(*) and it works. Hope this will be helpful for somebody like me.

[2015-01-08 13:54] lpessoa commented on #14
Any news on this one?

[2015-01-08 17:12] guillaumebadin commented on #14
Effectively, we have always the same problem.

[2015-01-09 00:37] EionRobb commented on #14
We improve performance in our version of the plugin by specifying a few SQLite pragma options:
[code]

[2015-01-09 08:33] guillaumebadin commented on #14
Thank you very much we will test this and we will get back to you.

[2015-01-16 13:51] lpessoa commented on #14
Used EionRobb's approach. Worked like a charm...

[2015-01-27 10:52] remk commented on #14
How do you execute the pragma statements ? I execute them from my js file just after opening the db.
The commands are executed without problems.
Only for "The PRAGMA synchronous=OFF;"  which freeze the application.

Do you have any insight ?

[2015-01-27 11:48] lpessoa commented on #14
If you use the EionRobb's version of the plugin it is already setup by default for you.

[2015-01-27 18:08] remk commented on #14
ok, i modified the ConnectToDb method in SQLiteProxy.cs like this : https://gist.github.com/remk/0e4a6f20cf8aa2f3febe

The perfomances are definitely better but not stellar.

[2015-01-28 09:47] remk commented on #14
I tried EionRobb's plugin without success. I think it's because our project target the cordova 'windows' platform and not the 'wp8' one.
I really would like to make it work, the original sqlite seems to have much better insert performance than the c#sqlite used in the msopentech plugin.
Do you have any idea ?

For the msopentech plugin maintainers:  would it be possible to replace the c#sqlite dat

[2015-01-28 11:05] guillaumebadin commented on #14
+1 @sgrebnov What is the strategy from microsoft ? If we want have good crosspatform application on windows we must have a good SQLite plugin no ?

[2015-01-28 11:15] lpessoa commented on #14
@remk i am using it on 'windows' platform using cordova and not 'wp8'. Would be glad to help you on setting it up.

[2015-01-28 11:25] remk commented on #14
@lpessoa Thanks that's nice of you.
My last try was :
- add existing project SQLite3.vcxproj to my solution
- convert it to 8.1 project
- move the destructors to private in the *.h files, otherwise the project do no build.
- reference the SQLite project. i have a warning that the project doesn't correspond.

- load the websql.js file in my index.html

What have i done wrong ?

[2015-01-28 14:30] lpessoa commented on #14
@remk that is basically it.. the only difference is that i've changed the destructors in the header files to virtual and not private.

What kind of errors are u getting?

[2015-01-28 15:31] remk commented on #14
@lpessoa in the websql.js l have this error:
SCRIPT126: Unhandled exception at line 99, column 5 in ms-appx://ubilab/www/websql.js
0x8007007e - JavaScript runtime error: The specified module could not be found.
File: websql.js, Line: 99, Column: 5

at this line :
storageParam.db = new SQLite3.Database(storageParam.dbName);

it seems like the js code couldn't interact with the cpp interface. Did i

[2015-02-13 12:13] Nimrodxx opened #16 "Plugin should be asynchronous"
The WebSQL interface described as in the W3 specification (http://www.w3.org/TR/webdatabase/#asynchronous-database-api) is asynchronous. This plugin however is synchronous. This is unfortunately a major issue for the user experience.

I know its possible because Cordova offers a async API for native calls. The methods should return an IAsyncOperation<T> which can be retrieved from a System.Thread.

[2015-02-19 17:16] sgrebnov commented on #14
Hi guys, thank you a lot for investigating this issue - I've just pushed a fix based on additional PRAGMA options.
https://github.com/MSOpenTech/cordova-plugin-websql/commit/c0b74d1afb29e528ef1608a6abd3cf351078183e

[2015-02-19 20:22] EionRobb commented on #14
@sgrebnov
`PRAGMA ignore_check_constraints=on;` disables uniqueness and primary key checks on insert and will cause issues in a database

`PRAGMA journal_mode=OFF;` disables the transaction journal which can a) cause db corruption if a write is half way through when the app is closed and b) prevents the rollback of a transaction if it were to fail (which is what the whole point of the db.transacti

[2015-02-20 16:58] sgrebnov commented on #14
updated, thank you @EionRobb

[2015-02-23 11:56] qmatteoq opened #17 "changeVersion not supported"
Is there any plan to add support to the changeVersion() method to set the version number of the schema?
Right now, calling code like db.changeVersion("1", "2") returns the following error:

0x800a01b6 - JavaScript runtime error: Object doesn't support property or method 'changeVersion'

Thanks!

[2015-02-24 11:30] sgrebnov commented on #17
@qmatteoq Thank you for reporting this, I'll investigate this and reply w/ details tomorrow.

[2015-03-03 09:29] johnshepherd commented on #17
Hi is there any update on this? This is pretty crucial functionality wise for an app we're building.

[2015-03-04 09:00] sgrebnov commented on #17
Implementation for Windows https://github.com/MSOpenTech/cordova-plugin-websql/commit/17015eb938d902eeb6018c03e438658103b28c17

[2015-03-09 08:44] maheshp27 opened #18 "getting 'Could not establish DB connection' error incosistently"
I am not getting callback error while performing some sql queries using this plugin in windows phone 8 app, Sometimes it works fine and sometime i do get ' Error in success callback: WebSql743852156 = Error: Could not establish DB connection' error on openDatabase() statement.

[2015-04-07 18:35] mareksip opened #19 "Error occured while executing sql in Windows (Phone) 8.1"
I am debugging Apache Cordova application in Visual Studio 2013.4. The application works fine in Ripple and Android emulator, however, when I try to debug on Windows x64 or Windows Phone (device) I get following error:

On this line: https://github.com/MSOpenTech/cordova-plugin-websql/blob/17015eb938d902eeb6018c03e438658103b28c17/www/windows/SqlTransaction.js#L105

Unhandled exception at line 105,

[2015-04-09 10:15] daserge commented on #19
Hi @mareksip,

Here are the possible reasons of this issue:
* Please verify that `onSuccess` and `onError` are defined (can't see them in your code),
* Verify that all the projects have `SQLite.Proxy` in the references,
* Try to install [Visual Studio 2013 Update 5](https://www.visualstudio.com/en-us/news/vs2013-update5-vs.aspx) as Upd 4 has some packaging issues in relation to Cordova apps

[2015-04-09 11:20] mareksip commented on #19
@daserge thank you for taking your time to investigate this issue.
- Both functions are defined
- I can locate SQLite.Proxy.winmd in the bld\Windows-x64\Debug folder. As well as Community.CsharpSqlite.SQLiteClient.WinRT.dll, Community.CsharpSqlite.WinRT.dll and System.Data.Ersatz.WinRT.dll
- I was unable to find which fixes were made in AC tools for U5 CT3. Surely will upgrade once the release ver

[2015-04-09 11:29] daserge commented on #19
@mareksip can you please add `window.__webSqlDebugModeOn = true;` before this line?
[code]

Probably some error details will arise.

[2015-04-09 11:37] mareksip commented on #19
@daserge added the line as suggested but no detailed exception arised.

From Output tab:

   Exception was thrown at line 105, column 9 in ms-appx://io.cordova.myapp8724a31325644ec29a8d2d88682b7987/www/plugins/com.msopentech.websql/www/windows/SqlTransaction.js
0x800a139e - JavaScript – runtime error: [object Object]

    Unhandled exception at line 105, column 9 in ms-appx://io.cordova.myapp8724a

[2015-04-09 12:06] daserge commented on #19
@mareksip can you please take a look into JavaScript console?
In Visual Studio it is in Debug -> Wndows -> JavaScript console

PS: I think it works in Android and iOS as WebSql is supported natively in Chrome and Safari.

[2015-04-09 12:14] mareksip commented on #19
@daserge sorry, here is the output:

   [Database] name: lilka, lastTransactionId: 0. | new Database(); name = lilka
   [Database] name: lilka, lastTransactionId: 0. | transaction
   [SqlTransaction] id: 1, connectionId: 1. | Error occured while executing sql: SAVEPOINT trx1. Error: [object Object]
   [Database] name: lilka, lastTransactionId: 1. | transaction.run callback error, lastTransactionId

[2015-04-09 12:26] daserge commented on #19
@mareksip could you please also set a breakpoint on /www/plugins/com.msopentech.websql/www/windows/SqlTransaction.js Line 105 and copy the error details?

[2015-04-09 12:30] mareksip commented on #19
@daserge Code 14: unable to open database file

[2015-04-09 15:46] daserge commented on #19
@mareksip thanks for the details!
I will investigate this issue later.

One more question regarding your setup - can you please check if the sample app works for you?
Here are the steps to test it:
* `git clone https://github.com/MSOpenTech/cordova-plugin-websql`
* `cordova create sample --copy-from="cordova-plugin-websql\test"`
* `cd sample`
* `cordova platform add windows`
* `cordova plugin add

[2015-04-09 16:01] mareksip commented on #19
@daserge the test sample works well. I have tested all possible functions. I will try to follow the sample for now to find out if there are any differences. Please not that I have installed version 0.5 as it is suggested by default in plugins.

[2015-04-17 14:36] Nimrodxx commented on #14
Hi guys we created an async version of this plugin, which addresses a lot of performance issues. Please take a look at the [repo](https://github.com/Thinkwise/cordova-plugin-websql)

[2015-04-18 14:38] mareksip commented on #19
Hi @daserge, have you had a spare time to look into this issue, please? I would be really glad to use this plugin in my app.

[2015-04-21 08:55] darinez commented on #17
@sgrebnov Is there any plan to add support to the changeVersion() method to WP8?

Thanks!

[2015-04-21 09:19] daserge commented on #19
Hi @mareksip,
I would take a look if I could reproduce the issue - can you please upload the project code somewhere so that I can investigate?

[2015-04-22 23:50] sgrebnov commented on #17
Hey @darinez discussing w/ my team if we have capacity for this...

[2015-04-23 12:51] darinez commented on #17
Thanks for answering! I hope so.

[2015-04-25 09:36] fidransky opened #25 "Database does not open on Windows@3.8.1"
I am developing an app using this plugin for some time now but after updating the Cordova CLI, the windows platform and the plugin to their last versions recently, the application stopped working - the database does not even open.
I am getting this JS console log:

[code]

It all worked well until the update. I haven't changed a single line of code: the database is opened after `deviceready` and a

[2015-04-30 06:39] daserge commented on #25
Hi @fidransky,

Does the issue reproduce on Windows Phone 8.1 project only?

The fix is related to SQLite.Proxy reference missing in Windows Phone 8.1 project and it is not yet published to npm.

To test whether it helps please reinstall the plugin from github this way:
```cordova plugin rm cordova-plugin-websql```
```cordova plugin add https://github.com/MSOpenTech/cordova-plugin-websql```

[2015-04-30 07:46] fidransky commented on #25
Hi,
I removed the plugin and added it from GitHub and now I can't build the app at all. It gives me a nice colorful error log in the command line:

[code]

Note that I tried to build using both `cordova build windows` and `cordova build windows -- --phone` commands with the same result.
.NET v4.5 is mentioned to be missing in the log but I'm pretty sure I have it installed.

[2015-04-30 08:58] daserge commented on #25
@fidransky,

Can you please check if the [sample app](https://github.com/MSOpenTech/cordova-plugin-websql/issues/19#issuecomment-91268812) works for you?

Can you also try to build from Visual Studio?

[2015-04-30 09:07] fidransky commented on #25
Build from Visual Studio failed too with this error:

[code]

I will take a look at the sample app later.

[2015-04-30 09:40] daserge commented on #25
@fidransky,
Can you please try to remove post-build events from SQLite.Proxy project?
To do it make a right click on SQLite.Proxy project in Visual Studio > Build events > clear `Post-build event command line` field.

[2015-04-30 09:54] fidransky commented on #25
I didn't need to. When you pointed me to the SQLite.Proxy project, I noticed that it was targetted on Windows 8.0. After I retargetted the project, Visual Studio was able to build the app and it started to work.

Running build from Cordova CLI is also successful with this warning only:

[code]

[2015-04-30 09:54] darinez commented on #25
I tried to build my app from Visual Studio 2015 CTP 6 with this plugin (version": "0.0.9") and I had the same problem:

Unhandled exception at line 27, column 9 in XXX/www/plugins/cordova-plugin websql/www/windows/SqlTransaction.js

0x800a139e - JavaScript runtime error: Connection is not set

I'm waiting for your answer

Thanks!

[2015-04-30 09:56] fidransky commented on #25
@darinez,
I was faster :-) Try to retarget the SQLite.Proxy project in Visual Studio.

[2015-04-30 10:40] daserge commented on #25
Hi @darinez,

Can you please try to use the fixed version?
[code]

[2015-04-30 10:55] darinez commented on #25
@fidransky @daserge

Finally I reinstall version of plugin from github and retarget SQLite.Proxy project to Windows 8.1 and it works for me.

Thanks to both!

[2015-04-30 11:33] fidransky commented on #25
Great, thank you @daserge

[2015-04-30 11:33] #25 closed

[2015-04-30 12:36] daserge commented on #25
@fidransky, @darinez
Glad to help, guys

This issue should be fixed now with [this PR](https://github.com/MSOpenTech/cordova-plugin-websql/pull/27) and I believe that retarget should not be required.

Please let us know if you encounter any issues with the plugin.

[2015-05-01 09:59] yechongbo opened #28 "too many projects in solution"
Hi,

I am using Visual Studio for cordova, after upgrading websql plugin to 0.0.9, it reports an error which is 'too many projects in solution'. How can i cope with this? thanks!

[2015-05-02 06:12] deividkamui commented on #28
Same issue here

[2015-05-05 15:46] Dbaprateek opened #29 "SQLite not defined"
I am using cordova 3.8.0 with VS2013
<div class="app">
            <h1>Apache Cordova</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/jav

[2015-05-05 15:47] Dbaprateek commented on #29
[Database] name: test1.db, lastTransactionId: 0. | Database.open() err = {"description":"'SQLite' is undefined","number":-2146823279,"stack":"ReferenceError: 'SQLite' is undefined\n   at module.exports.getVersion (ms-appx://io.cordova.hellocordova/www/plugins/com.msopentech.websql/src/windows/WebSqlProxy.js:23:13)\n   at module.exports (ms-appx://io.cordova.hellocordova/www/cordova.js:874:13)\n

[2015-05-05 15:50] Dbaprateek commented on #29
Please Help

[2015-05-21 13:47] pelikhan commented on #25
Has the cordova repository been updated? Does it mean that we always need to install from the github repo from now on?

[2015-05-21 20:48] kirreal commented on #29
Same issue

[2015-05-22 08:00] fidransky commented on #25
Hopefully not for ever but yes, I did it so.

[2015-05-22 09:33] #17 closed

[2015-05-27 13:05] daserge commented on #28
Hi guys,
The issue is caused by old Cordova version in VS 2013 MDA tools and is fixed in VS 2015 - could you please verify this?
(VS 2013.4 MDA uses Cordova 4.1.2 and [the fix](https://github.com/apache/cordova-lib/commit/623233d099d7874be134fe4a9e0b645a7426eb57) has been released with 4.2.0.)

[2015-05-29 12:16] ISYSMichael commented on #14
I still have this issue. It's so bad that a process that takes 10 seconds in Android and iOS takes several minutes on WP8.

[2015-05-29 14:28] Nimrodxx commented on #14
@ISYSMichael Try [this plugin](https://github.com/Thinkwise/cordova-plugin-websql), its async a performs better.

[2015-05-29 14:58] ISYSMichael commented on #14
That only seems to be for Windows, not WP8.

[2015-06-01 06:49] Nimrodxx commented on #14
@ISYSMichael Windows is the "new" universal app project. This includes both Windows and Windows Phone.

[2015-06-10 15:55] andreapozzetti opened #30 "WP8 - error "unable to delete file""
When i start the app the first time after installation the query that i want to perform (a select) is not performed and the error

"code:0 Unable to delete file"

 is provided.

If i close the app and open again it work perfect. Why?

[2015-06-11 09:31] andreapozzetti commented on #18
+1

[2015-06-16 06:40] yechongbo commented on #28
verified, thanks!

[2015-06-16 06:40] #28 closed

[2015-06-16 14:32] front-a-little commented on #29
Any news on this issue ? Installed and updated this plugin from this git repo, retargeted SQLite.Proxy project to Win8.1
Breaks in WebSqlProxy.js at line 106
````var res = SQLite.Proxy.SQLiteProxy.connectToDb(module.exports.db);````
claiming

Other global objects this script relies on, like require, module or Windows, are available

[2015-06-16 15:25] front-a-little commented on #29
I managed to fix this issue by adding SQLite.Proxy to the References list of my Cordova project:
In Visual Studio, rightclick you project (not the solution)
Select "Add" > "Reference...", the Reference Manager should show up
On the left hand site, select "Solution" if it's not active already
You should see SQLite.Proxy in that list, simply tick the checkbox and confirm your changes.
Gave me a warn

[2015-06-24 06:59] lessobviously opened #31 "Retrieved date types"
Confused. Is this an issue or something I have missed?

On a Cordova 5, Windows 8.1 app using this plug in for sqlite I have a table which has a column:

Modified_Date Date Not Null

Now, when I save a date, say 1970/01/01 and retrieve the information this is returned:

/Date(0+0000)/

If I save the date 2015/06/16 and retrieve the information this is returned:

/Date(1434495600000+0100)/

It does

[2015-06-24 18:00] lessobviously commented on #31
OK, so I have tried DateTime columns with the same result. I know sqlite does not have a date type, and stores dates as text or numbers. But this works on Android and IOS (Where I assume the DATE Type is defaulting to text). What I don't understand is the database is actually parsing dates during the INSERT, but the resultant format is unusable with further processing. I am going to change all the

[2015-06-24 18:00] #31 closed

[2015-06-26 13:01] VigneshVaidyanathan opened #32 "Not able to Delete Records"
Hi , I am new to apache cordova and am trying to do a simple ToDo app as given in the samples. I am able to insert and read the records from the database but the records are not getting deleted. I have used it in a similar way as shown in the sample.

When I use the Ripple Emulator in Google Chrome in Visual Studio 2015 it works as expected but when I deploy to an android device (Nexus 4) it is no

[2015-07-13 14:26] front-a-little opened #33 "Memory Leak ?"
I'm using websql Plugin version 0.0.9 in Cordova 5.0.0 and platform "windows".
For performance tracking I use Windows Power Tools attached to either the emulator or the device.

In a readTransaction, when the success callback is invoked, you can see the used memory going up but I expect the memory to go down again once I've processed the result data and don't hold any refernce to it anymore. Howev

[2015-07-14 16:54] joeljeske commented on #16
+1
This is critical as applications expect the queries to be async and when that is changed, things break. In addition, it leads to a **very** poor user experience when dealing with any non-trivial datasets, especially on mobile devices.

Please fix.

[2015-07-30 13:13] adrienrx opened #34 "Typescript Prepopulated DB"
Can you provide a simple example to import a pre polulated Database ?

TY

[2015-08-02 19:14] TrygveSkogsholm commented on #29
I am getting 'this' bug in VS 2015 RTM.

Exception was thrown at line 23, column 13 in ms-appx://.../www/plugins/com.msopentech.websql/src/windows/WebSqlProxy.js
 - JavaScript runtime error: 'SQLite' is undefined

I don't have a Proxy project to retarget, visual studio claimed to install it all via GUI interface to the config.xml.

[2015-08-06 19:03] iandonov commented on #29
Same here:
[Database] name: DBname, lastTransactionId: 0. | new Database(); name = DBname
[Database] name: DBname, lastTransactionId: 0. | Database.open() err = {"description":"'SQLite' is undefined","number":-2146823279,"stack":"ReferenceError: 'SQLite' is undefined
   at module.exports.getVersion (ms-appx://AppName/www/plugins/cordova-plugin-websql/src/windows/WebSqlProxy.js:23:13)
   at module.

[2015-08-11 09:27] cmitel commented on #29
I have the same issue for WP8.1 execution and I am using Cordova-cli 5.1.1.

This error comes from the plugin.xml definition for `windows` platform within the `framework` element :
[code]
The attribute `target`should have the value **all** and not `windows`, because the project referenced isn't loaded for the phone build which is causing  the `SQLite Undefined` error.

After this change, I did the

[2015-08-12 14:26] aman2604 opened #35 "select query returns an unsigned value of negative real present in the table"
Issue is if table is created with two columns(one having real and other as text), then if negative value is stored in the first field and in second field value with more than 983 chars are present then, while fetching the data it will return unsigned value of first field(65536-value).

Steps to reproduce the issue :-

tx.executeSql('CREATE TABLE IF NOT EXISTS DEMO (id REAL UNIQUE, data TEXT)');

[2015-08-25 08:24] nsteenbeek commented on #25
@pelikhan I had same "Connection is not set" issue and installing from the github repo solved the problem. I had this problem with Windows Phone.

[2015-08-27 09:44] Sharkam opened #36 "[Windows][PhoneGap]Does nothing"
Hi,

I'm using the command "phonegap serve" to communicate with my windows phone 8.1 and to test my application.

This application is using the plugin cordova-plugin-websql.

Everything is working on Android and IOS but nothing happens on Windows phone 8.1 (Not even errors) as i only tried to execute :

var dbSize = 5 * 1024 * 1024;
var db = openDatabase("dbName", "1.0","dbDesc", dbSize );

it jus

[2015-08-28 15:29] Sharkam commented on #36
I also tried to build the project with "PhoneGap Build" but I can't it says : "plugin unsupported: com.msopentech.websql"

[2015-08-31 12:18] daserge commented on #32
Hi @VigneshVaidyanathan,
Looks like the issue reason is [this line](https://github.com/MSOpenTech/cordova-plugin-websql/blob/519b8a5bbcc46d2ef820fcae94b43cdf3d98dd2e/test/js/index.js#L20) in `onSuccess` callback:
[code]

[WebSQL spec](http://www.w3.org/TR/webdatabase/#database-query-results):
`
The insertId attribute must return the row ID of the row that the SQLResultSet object's SQL statement in

[2015-08-31 13:47] #32 closed

[2015-08-31 14:54] daserge commented on #36
Hi @Sharkam,
You will need to rebuild [phonegap-app-developer](https://github.com/phonegap/phonegap-app-developer) with added websql plugin as it is a custom non-core plugin.

Here are some caveats regarding this:
* Remove ios platform as it causes build failures on Windows,
* Use `wp8` as a base platform for `serve`-d app as `windows` platform is not supported by [phonegap-plugin-contentsync](htt

[2015-08-31 15:53] daserge commented on #29
Hi guys,
Is this issue still reproducing on the latest github version?
If yes, please state your VS and cordova versions.

[2015-09-04 12:36] shamsealam opened #37 "Getting 'Out of stack space' after 35 nested transaction"
We are getting following error while executing multiple insert statement in a single transaction.

description : "Out of stack space"
message: "Out of stack space"
name: "Error"
number: -2146828260
stack : "Error: Out of stack space ...

We are getting this error on Windows 8.1 Pro (not windows mobile).

Please find the JS code to reproduce this issue from the following link

https://gist.github.c

[2015-09-09 05:27] gnanaswaroop commented on #37
Appears this issue requires a fix in the native code.Can some one from Microsoft comment on this?

While one could argue why this example used chaining and not a simple "for loop" - There are many cases in a complex Hybrid App in which we cant do all the DB operations together. The next DB operation could be conditional and the code would be written elsewhere. so DB transaction chaining is require

[2015-09-09 13:40] tomchiverton commented on #29
Yes. Visual Studio 2015 community, fresh install (so whatever versions of cordova Microsoft are shipping now).
Added from the core plugins list, but doesn't appear to do anything, attempting to use window.openDatabase throws a not defined error.

[2015-09-09 13:52] cmitel commented on #29
@tomchiverton can you show us the content of ```plugin.xml``` file downloaded to your project please ? Only the part concerning ```windows```.

[2015-09-09 14:24] tomchiverton commented on #29
My project is trying to use Windows Universal on a locally attached device (a Lumia with Windows 8.1).

My ..../BlankCordovaApp1/BlankCordovaApp1/plugins/cordova-plugin-websql/plugin.xml has this as well as other <platform> nodes.
[code]

[2015-09-09 14:36] daserge commented on #29
@tomchiverton could you please try to update
[code]

to
[code]

Looks like the VS takes the old version from `npm`.

[2015-09-09 14:40] tomchiverton commented on #29
Tried that already. Should I have to do anything special to trigger a rebuild ?

Also is adding via the right click menu on config.xml all that is required ? i.e. no .js file to include ?

[2015-09-09 15:14] daserge commented on #29
@tomchiverton could you please try to move the project to the drive where you have Temporary folder (usually `c:`), and then try to add the plugin using Git link (in VS config.xml -> Plugins -> Custom -> Git):
`https://github.com/MSOpenTech/cordova-plugin-websql`?

[2015-09-10 08:23] tomchiverton commented on #29
Removed the existing plugin, added a new one from the custom git link, and launched debug again.

window.openDatabase still not defined

[2015-09-10 09:06] tomchiverton commented on #29
My bad I think. I wasn't including platformOverides.js

[2015-09-10 09:21] daserge commented on #29
Does it work now?
The plugin itself should work without `winstore-js-compat`, which is enabled by platform overrides.

[2015-09-11 06:57] tomchiverton commented on #29
Yes.
--
Tom
Sent from my phone.

On 10 September 2015 10:21:47 BST, Sergey Shakhnazarov <notifications@github.com> wrote:

[2015-09-14 10:44] tomchiverton commented on #29
(that's, "yes, from Git". Broken from Visual Studio's main list, as described here

[2015-09-15 10:11] tomchiverton opened #38 "crash if restarted quickly"
I'm still working on small test case, but in our app if the app is closed and immediately reopened then it crashes almost immediately.
f you wait at least 10 seconds then it works as expected.
The DB is very small (half dozen tables, hardly any data).

If I comment the openDatabase() then this doesn't occur.
Crashes never occur when connected to the Visual Studio debugger.

is there an easy way to

[2015-09-16 11:20] #38 closed

[2015-09-16 12:38] daserge commented on #38
@tomchiverton, regarding capturing the crash - you can go to `EventViewer` (`Control Panel` -> `View event logs`), click `View` -> `Show Analytic and Debug Logs`, expand `Applications and Services Logs` -> `Microsoft` -> `Windows` -> `AppHost`.
Admin logs will contain crash events there and you can also enable `AppTracing` logs to see IE console output.
The latter option can be combined with
[code

[2015-10-01 09:48] daserge commented on #29
0.0.10 version has been published to npm, the plugin now should work from VS 2015 core plugins list.
Please reopen in case of issues.

[2015-10-01 09:48] #29 closed

[2015-10-13 13:10] franciclo opened #39 "wrong reference to proxy file"
My app is crashing at start where i open the Data Base i believe.
I'm getting an error "Connection not set" in SqlTransaction.js but i believe is coming from before,
where i also get this warning "The referenced project 'app\plugins\cordova-plugin-websql\src\windows\SQLite.Proxy\SQLite.Proxy.csproj' does not exist. [app\platforms\windows\CordovaApp.Phone.jsproj]"

So i look for /SQLite.Proxy.cspro

[2015-10-13 16:27] #39 closed, assigned to nobody

[2015-10-16 13:18] aspcsharp9 opened #40 "Problem with webSql on Windows Phone 8.1"
Hi,

I'm make hybrid aplication with webSql all work fine on ANDROID but on Windows 8.1 not working.

Any solution?

[2015-10-16 14:17] cmitel commented on #40
Can you show the content of the `plugin.xml` file in the plugin webSql directory please ?

[2015-10-19 06:47] aspcsharp9 commented on #40
Please see http://postimg.org/image/69wjg8mld/

Do you have any simple example where websql work on windows phone 8.1?

[2015-11-09 01:14] jdnichollsc opened #41 "See my example using Service Pattern"
Hi guys,

Help me to improve my example! :dancers:

What changes need to do in the following code to pre-populate the database using this plugin?
https://gist.github.com/jdnichollsc/9ac79aaa3407e92677ba

Regards, Nicholls

[2015-11-22 20:53] jdnichollsc opened #42 "Pre-populated DBs supports .db or .sqlite files?"
Hi guys,

Exist any example using a database created with SqliteBrowser?

Help me please

[2015-11-30 15:34] nsteenbeek opened #43 "The given key was not present in the dictionary"
When installing the plugin via CLI, the database opens, but crashed on Windows Phone when trying to create a table. This was issue #25. I did the workaround metionted there by installing via github reference, which worked for me some months, but now I'm getting "The given key was not present in the dictionary.".

[2015-12-21 14:57] puchmu opened #44 "Windows 10 Support"
Is it planned that this plugin will work on Windows 10 Universal Apps that are built with cordova and Visual Studio 2015?
Right now when I add the plugin and then run my project I get the following error:

Severity Code Description Project File Line Suppression State Error
Your project.json doesn't list 'win10' as a targeted runtime. You should add '"win10": { }' inside your "runtimes" section in

[2016-01-07 05:44] shamsealam commented on #44
I am also getting the same issue.

Can someone look into this?

[2016-01-10 10:38] rakatyal commented on #44
Could you try specifying the architecture along with the build instead of the default 'Any CPU' option?

[2016-01-11 09:24] puchmu commented on #44
I got it to work just now with the following steps:
In Cordova CLI, just use cordova run windows --arch="x64" OR cordova run windows --arch="x86", both work fine.

 To get it to work with VS 2015, you have to copy the "Debug" folder from <Cordova-Project>/plugins/cordova-plugin-websql/src/windows/SQLite.Proxy/bin/x64/Debug one Directory up to <Cordova-Project>/plugins/cordova-plugin-websql/src/win

[2016-01-11 19:09] rakatyal commented on #44
This plugin is based on a .Net implementation that for Windows 10 supports only architecture specific builds. We are working on better error messages and the issue is being tracked at https://issues.apache.org/jira/browse/CB-10234.

[2016-01-12 06:19] gaurang-devrepublic opened #45 "Help on Windows 8.1 Cordova app"
Hi Sergey,

I have to port ios cordova app to windows app.

After creating the cordova projects, I copied the required files and installed the required plugins but not able to run the project successfully.

App is executed but local data base is not created and so no table is created.

It will be the great help if someone can check whats wrong.

Please download the code from following:
http://www.

[2016-01-15 11:23] jantonsg commented on #44
Hi,
I have been using this plugin with Windows 8.1 (desktop and phone) without problems. Now we are planning to upgrade to Windows10 (desktop and phone).
Until now you have explained us how to deploy for desktop but I have some questions to make it work on mobile.
If I need to make it work on Windows10 mobile (windowsPhone). Can I use ARM arch? Do you know If I Have to make any change?
Thanks so m

[2016-01-15 19:36] rakatyal commented on #44
Yes you can use ARM for Windows 10 phones.

[2016-01-24 17:46] e3duardo commented on #44
I have to have sdk 8 or 8.1 to build on arm or x86? I'm still getting same error on these plataforms.

[2016-01-26 14:20] Hasanajouz commented on #44
Still getting openDatabse is undefined error using windows 10 x64 or x86
i moved the debug one level up.
using the last plugin
nothing helped.
Thanks.

[2016-01-26 19:42] rakatyal commented on #44
@e3duardo: I believe so. Which sdk are you using?
@Hasanajouz: Do you get the same error on building for other windows platforms as well?

[2016-01-26 20:52] e3duardo commented on #44
it's worked after instalation of the skd 8 and 8.1. But vs2015 can't recognize my phone anymore in Windows-ARM. I have to build on vs, and install manually on phone the appx.

[2016-01-26 22:40] e3duardo commented on #44
ps, I'm using windows 10 on notebook and phone

[2016-01-27 07:45] Hasanajouz commented on #44
@rakatyal I can't test it on ARM right now because testing on my windows 10 mobile is not working with me anymore using the last build even on the emulators.
I didn't try it on windows 8.1 because there are other things that will not work.
and of course on android there is no problem.

and I tried other websql plugins non worked. and they give the same error.

[2016-01-28 08:13] Hasanajouz commented on #44
@rakatyal
it is working good when i call the "openDatabse" function on click of a button.
But on page load or page initialize it will not.
So what is the best page event to call it on?

[2016-01-28 12:21] puchmu commented on #44
As this is a cordova plugin you can call openDatabase after the deviceready event was fired, so e.g.:

`document.addEventListener("deviceready", function(){
    window.openDatabase(...);
}, false);`

On page load is too early as the cordova plugins have to be initialised first to use them safely

[2016-01-28 12:33] Hasanajouz commented on #44
@puchmu thanks very much.
I forgot this event.
I tried all but this.
now it is working.

[2016-01-28 18:41] rakatyal commented on #44
Great. Closing this issue now, since it has diverged a lot from the original post. Please create a new one if you face more problems.

[2016-01-28 18:41] #44 closed, assigned to nobody

[2016-06-09 12:58] shanmukhappa opened #47 "Error: Could not establish DB connection and apllication stuck in first page itself and in console im getting following log"
'TaskHost.exe' (CoreCLR: DefaultDomain): Loaded 'C:\windows\system32\mscorlib.ni.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
'TaskHost.exe' (CoreCLR: Silverlight AppDomain): Loaded 'C:\windows\system32\System.Windows.RuntimeHost.ni.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
'TaskHos

[2016-07-15 13:58] nirus opened #48 "When i disconnect my from phone from Visual Studio"
Hi when i deploy app from Visual studio it works fine. When i disconnect the phone and try to open the app. App goes blank. I investigated it further.. when i remove reference of Sqlite , app works.
Windows phone 8.1

[2016-07-21 05:35] gpickin commented on #48
I have the same issue on Windows 8.1 apps on Surface Pro
I even tried side loading onto Surface RT and it works, but side loading on Surface Pro 3 ( x64 ) it does what you are seeing.

I posted a bug here https://issues.apache.org/jira/browse/CB-11606 ( with help ) about the base.js not being included correctly, but I also see a Windows not defined error, and openDatabase() not a valid function, b

[2017-02-13 11:46] PADMAJA-K opened #49 "Getting error ..\plugins\cordova-plugin-websql\src\windows\SQLite.Proxy\bin\Release\SQLite.Proxy.pri not found"
I have  an issue taking build from Microsoft Visual studio Community 2015 while it works fine running to a device. **Project >Store > Create App Packages** returns me a build failed message showing error as **\plugins\cordova-plugin-websql\src\windows\SQLite.Proxy\bin\Release\SQLite.Proxy.pri not found** .When checked it was observed that the **Release** folder in the path defined is empty. Is the

[2017-02-16 11:43] marcos-queiroz opened #50 "Plugin Does Not Work in Windows 10"
I'm studying Cordova, and recently I was testing the project on WIndows 10, but storing using WebSQL did not work.

So I researched and found this Plugin, but when running on Windows10 it does not work.

I noticed that the documentation says support for Windows 8 and 8.1.

I would like to know when we will support Windows 10 Universal Platform.

Thank you for your attention.

[2017-02-16 14:04] daserge commented on #50
@marcos-queiroz which error are you getting - could you please add some details and reproduce steps?

[2017-02-16 14:16] daserge commented on #49
@PADMAJA-K which is your build target (Windows 8.0, 8.1 or 10)?
Have you tried retargeting SQLite.Proxy project to Windows 8.1?
Note also that Windows 10 builds require architecture to be set so you would not get AnyCPU but x64, x86 and ARM packages instead.
Alternatively you can try to build the project via Cordova CLI:
https://cordova.apache.org/docs/en/latest/guide/platforms/win8/#signing-an-ap

[2017-02-16 14:20] daserge commented on #50
So in terms of the sample/test app situated in `pluginRoot/test` you would need to remove `MSApp.execUnsafeLocalFunction` usage as it's no more required in a Windows 10 app and specify a build architecture (x64 or x86 for desktop or ARM for phone) as AnyCPU is not supported for Windows 10 builds.

[2017-02-16 14:58] marcos-queiroz commented on #50
@daserge thank you very much, I was not taking care of the architecture issue, I changed it to x64 and it worked perfectly.

[2017-02-16 16:23] daserge commented on #50
Great, thanks for confirmation! Please close the issue if this is resolved.

[2017-02-16 16:47] #50 closed, assigned to nobody

[2017-02-21 05:37] PADMAJA-K commented on #49
Thanx alot @daserge

[2017-06-02 10:10] gauravshroff commented on #49
Hi @PADMAJA-K  @daserge  I set the target to ARM for windows 10 still getting the error can you help ?

![3](https://cloud.githubusercontent.com/assets/29142713/26721498/a8114d2e-47a9-11e7-9205-ffbfcc5fba1d.png)

[2017-07-11 16:45] jabawack81 opened #51 "Create Virtual Table Succed But table is not created"
I'm trying to create a virtual table but even if the transaction is successful the table is not created this is the code I'm using:

[code]
Cordova 6.5.0 (in stuck to this version by another plugin )
Windows 10 phone (Lumia 550)
Visual studio 2017

I'm doing something wrong or FTS is not supported?

[2017-10-19 07:50] arsusbravo opened #52 "Table created and first record inserted but then disappears"
I'm very happy with this plugin, that I can finally see something works with my websql database in windows phone. However, I got this problem.

Here is my open database codes:

    `var db = openDatabase("MyTable", "1.0", "mytable", 2000000);
    db.transaction(newVehicles, function(tx, err){ console.log("Error processing vehicle: "+ JSON.stringify(err)); });
    function newVehicles(tx){
       t

[2017-10-19 12:25] arsusbravo commented on #40
why every questions in this plugin has no answer???

[2018-01-03 19:33] p-w commented on #49
Hi @PADMAJA-K, hi @gauravshroff,

I had the same problems and solved it. Please use the new cordova plugin for indexedDB:
https://github.com/Microsoft/cordova-plugin-indexedDB

My pull requests solves the issue:
https://github.com/Microsoft/cordova-plugin-indexedDB/pull/15

Or find a useable version here:
https://github.com/p-w/cordova-plugin-indexedDB

You can add it via CLI with:
cordova plugin

[2018-06-15 07:13] amey6991 opened #53 "MSBuidl.exe throws Error when Install this PLugin"
Hi ,

I am facing a new issue which is not listed here, when I install all another plugin my project build, debug successfully but when I install this plugin, I got an **error of MsBuild.exe** and when I remove this plugin that error remains with the package... even after I clean the solution...

How to fix this, is there any other sqllite plugin to support Windows 8,8.1,10 ??

![studio_error_1](h

[2019-07-04 06:02] #41 closed, assigned to nobody

[2019-07-04 06:03] #42 closed, assigned to nobody

[2019-08-20 10:46] #51 closed, assigned to nobody